@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Current Jobs";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#claimJob').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Claim")',
                data: {id: $(this).data('id'), text: $(this).data('job') },
                success: function (result) {
                    $('#result').html(result);
                }
            });
        });
    });
</script>

<div class="text-center">
    <h3>Our Current Jobs</h3>
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
        <li>This job is unclaimed.</li>
        <li class="btn" id="claimJob" data-id=@Job.JobId text=@Job.Title>Claim Job</li>
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>
}
<div id="result"></div>
@Html.ActionLink("Add a new job", "Create")

