@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Current Jobs";
}

@using System.Security.Claims

<script type="text/javascript">
    $(document).ready(function () {
        $('#claimJob').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Claim")',
                data: { id: $(this).data('id'), text: $(this).data('job') },
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });
        $('#markActive').click(function () {
            var jobId = $(this).val();
            console.log(jobId);
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("MarkActive")',
                data: { jobId },
                success: function (result) {
                    var resultMessage = 'Job has been marked active.'
                    $('#result2').html(resultMessage);
                }
            });
        });
        $('.markComplete').click(function () {
            var jobId = $(this).val();
            console.log(jobId);
            console.log('hello');
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("MarkComplete")',
                data: { jobId },
                success: function (result) {
                    var resultMessage = 'Job has been marked completed.'
                    $('#result3').html(resultMessage);
                }
            });
        });
    });
</script>

<div class="text-center">
    <h3>Our Current Jobs</h3>
</div>

@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
        <p>This job is unclaimed.</p>
        <ul>
            <li class="btn" id="claimJob" data-id=@Job.JobId text=@Job.Title>Claim Job</li>
        </ul>
        }
        else
        {
            @if (Job.Worker.UserName == User.Identity.Name)
            {
                <li class="btn">This Job is claimed by YOU!</li>
                @if (Job.Pending == false && Job.Completed == false)
                {
                    <li class="markActive btn" vale = "@Job.JobId" data-id=@Job.JobId>Mark Active</li>
                }
                else if (Job.Pending == true && Job.Completed != true)
                {
                    <p>This Job is currently ACTIVE!</p>
                }
                @if (Job.Completed == false && Job.Pending == true)
                {
                    <li class="markComplete btn" value="@Job.JobId" data-id=@Job.JobId>Mark Complete</li>
                }
                else
                {
                    <p>This Job has been marked completed.</p>
                }
            }
            else
            {
                <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>
            }
        }
    </ul>
}
<div id="result1"></div>
<div id="result2"></div>
<div id="result3"></div>
@Html.ActionLink("Add a new job", "Create")

